### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="MSG1500-7615"

### Linux kernel and toolchain
CONFIG_FIRMWARE_INCLUDE_SFE=y

CONFIG_LINUXDIR=linux-3.4.x
#CONFIG_TOOLCHAIN_DIR=/opt/rt-n56u/toolchain-mipsel

############################################################
### Linux kernel configuration
############################################################

### Build ROOTFS_IN_RAM firmware mode (kernel+initramfs).
### Decreased firmware size, but more RAM used, slow boot.
### Also allow build image for load w/o flash from UART console
#CONFIG_FIRMWARE_TYPE_ROOTFS_IN_RAM=y

### Force MT7621 CPU clock to 900MHz (override Uboot settings)
#CONFIG_FIRMWARE_CPU_900MHZ=y

### Enable MT7621 CPU sleep mode (downclock to 220MHz on idle)
#CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 2.4GHz/5GHz
### 5.0.3.0 = MT7615 v5.0.3.0
### 5.0.4.0 = MT7615 v5.0.4.0
CONFIG_FIRMWARE_WIFI_DRIVER=5.0.4.0
CONFIG_FIRMWARE_KERNEL_CONFIG="kernel-3.4.x-5.0.4.0.config"

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Include IPSet utility and kernel modules. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include WebUI international resources. Increased firmware size
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
